* {
  font-family: "Merriweather" , serif;
}
h2 {
  font-size: 1.275rem;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  padding: 0 10px;
}
input,
label,
select {
  border-radius: .4em;
  cursor: pointer;
}
input,
select {
  line-height: 2.5;
  border: none;
  margin: 3px 0;
}
select {
  height: 40px;
}

label {
  padding: 15px 0;
}
textarea {
  height: 150px;
  margin-bottom: 15px;
}
legend {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 40px;
}
label[class="top"] {
  font-size: 16px;
}
label[class="size"] {
  font-size: 14px;
}
input[type="email"]::placeholder,
input[type="text"]::placeholder {
text-align: right;
padding-right: 10px;
}
input:focus,
textarea:focus {
  border-color: #192841;
}


.container {
  display: flex;
  flex-direction: column;
}

.main-header {
  background-color: #192841;
  color: white;
  text-align: center;
  padding: 20px 0px;
  font-size: 24px;
}
.title,
.title-info {
  text-align: center;
}
.title {
  color: #484848;
  font-weight: 600;
  margin-top: 20px;
}
.title-info {
  font-size: .875rem;
  color: #adadad;
  margin-top: 15px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.top {
  margin-top: 10px;
}
.btn {
  cursor: pointer;
  font-size: .975em;
  font-weight: 500;
  color: white;
  padding: 15px 0px;
  background-color: #52bab3;
  border-radius: .5em;
}
.copyright {
  color: #999999;
  margin: 30px 0;
  font-size: 10px;
  text-align: center;

}

@media (min-width: 768px) {
main {
  max-width: 900px;
  margin: auto;
}
.title {
  margin-top: 40px;
}

.main {
  flex-direction: row;
  flex-wrap: wrap;
}
.main label,
.main input {
  flex-basis: 400px;
}
.main input {
  flex: 2;
}
}
